<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>herkolw</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../images/herklow.png" alt="Logo">
        </div>
        <button class="menu-toggle">☰</button> <!-- Toggle button for mobile menuf -->
        <nav class="main-nav hidden"> <!-- Mobile navigation hidden by default -->
            <ul>
                <li><a href="#" class="about">About</a></li>
                <li><a href="#" class="work">Work</a></li>
                <li><a href="#" class="contact">Contact Us</a></li>
                <li><a href="mailto:edwinakidah1@gmail.com" class="book-btn">Book</a></li>
            </ul>
        </nav>
    </header>
    <div class="motto-container">
        <span id="text1">Memorable Event Videos. </span><br>
        <span id="dynamic-text">Artistic</span>
    </div>

    <div class="content-container">
        <div class="left-image">
            <img src="../images/herklow2.webp" alt="Left Image">
        </div>
        <div class="text-container">
            <div class="profile-images">
                <img src="../images/herklow.png" alt="Profile 1">
                <img src="../images/herklow.png" alt="Profile 2">
                <img src="../images/herklow.png" alt="Profile 3">
            </div>
            <p class="company-description">
                Herklow is a video production company that specializes in creating memorable event videos. We are a team of creative individuals who are passionate about capturing the essence of your event and turning it into a work of art.<br>
                Whether it's a wedding, birthday party, corporate event, or any other special occasion, we are here to help you preserve those precious moments forever.
                <a href="#" class="contact-link">Contact Us</a>
            </p>
        </div>
    </div>
    <div class="footer">
        <span class="company-name">herklow</span>
        <span class="contact-us">Event videography </span>
    </div>
    <div class="right-image">
        <img src="../images/herklow1.webp" alt="Right Image">
    </div>
    <div class="add-content">
        <span id="first_one">
            Video production company herkolw records events and broadcasts them to share life's greatest moments.
        </span>
        <span id="second_one">
            Capturing Your Life's Greatest Moments
        </span>
        <span id="third_one">
            As a video production company, herkolw is dedicated to capturing your most precious life events and preserving them for generations.
        </span>
    </div>
    <script src="../scripts/main.js"></script>
</body>
</html>